@{
    Layout = "/"
}


<div class="row">
    <div class="col-md-12">
        <button class="btn btn-sm btn-primary" id="btnAgregarProducto"><i class="fa fa-plus"></i> <span> Agregar Producto </span> </button>
    </div>
    <div class="col-md-12">
        <table class="table table-sm" id="TableProducto" width="100%">

        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/Administrador/_Producto.js" ></script>
}
